/* Dark theme variables */

:root {
  --gg-bg: rgb(43, 42, 51); /* #2b2a33 */
  --gg-fg: rgb(251, 251, 254); /* #fbfbfe */
  --gg-fg-faded: rgb(153, 153, 157); /* #99999d (alt #8f8f9d) */
  --gg-black: rgb(28, 27, 34); /* #1c1b22 */
  --gg-grey: rgb(82, 82, 94); /* #52525e */
  --gg-darkgrey: rgb(66, 65, 77); /* #42414d */
  --gg-cyan: rgb(128, 235, 255); /* #80ebff */
  --button-bgcolor: var(--gg-bg) !important;
  --button-hover-bgcolor: var(--gg-grey) !important;
  --button-active-bgcolor: rgb(91, 91, 102) !important;
  --button-primary-bgcolor: rgb(0, 221, 255) !important;
  --button-primary-hover-bgcolor: var(--gg-cyan) !important;
  --button-primary-active-bgcolor: rgb(170, 242, 255) !important;
  --button-primary-color: var(--gg-bg) !important;
  --input-bgcolor: var(--gg-darkgrey) !important;
  --input-color: var(--gg-fg) !important;
  --input-border-color: var(--gg-fg-faded) !important;
  --autocomplete-popup-separator-color: var(--gg-grey) !important;
  --panel-banner-item-update-supported-bgcolor: rgb(84, 255, 189) !important;
  --panel-banner-item-info-icon-bgcolor: var(--gg-cyan) !important;
  --tab-icon-overlay-stroke: var(--gg-darkgrey) !important;
  --tab-icon-overlay-fill: var(--gg-fg) !important;
  --panel-item-hover-bgcolor: color-mix(
    in srgb,
    currentColor 9%,
    transparent
  ) !important;
  --arrowpanel-dimmed-further: color-mix(
    in srgb,
    currentColor 14%,
    transparent
  ) !important;
  --panel-item-active-bgcolor: color-mix(
    in srgb,
    currentColor 25%,
    transparent
  ) !important;
  --urlbar-icon-fill-opacity: 1 !important;
  --panel-separator-zap-gradient: linear-gradient(
    90deg,
    #9059ff 0%,
    #ff4aa2 52.08%,
    #ffbd4f 100%
  ) !important;
  --lwt-accent-color: var(--gg-black) !important;
  --lwt-text-color: var(--gg-fg) !important;
  --arrowpanel-background: var(--gg-darkgrey) !important;
  --arrowpanel-color: var(--gg-fg) !important;
  --arrowpanel-border-color: var(--gg-grey) !important;
  --toolbar-field-background-color: var(--gg-black) !important;
  --toolbar-field-color: var(--gg-fg) !important;
  --toolbar-field-border-color: rgba(0, 0, 0, 0) !important;
  --toolbar-field-focus-background-color: var(--gg-darkgrey) !important;
  --toolbar-field-focus-color: var(--gg-fg) !important;
  --lwt-tab-text: var(--gg-fg) !important;
  --toolbar-bgcolor: var(--gg-bg) !important;
  --toolbar-color: var(--gg-fg) !important;
  --chrome-content-separator-color: rgb(12, 12, 13) !important;
  --toolbarbutton-icon-fill: var(--gg-fg) !important;
  --lwt-selected-tab-background-color: var(--gg-darkgrey) !important;
  --autocomplete-popup-highlight-background: var(--gg-bg) !important;
  --tabpanel-background-color: var(--gg-bg) !important;
  --sidebar-background-color: var(--gg-bg) !important;
  --sidebar-text-color: var(--gg-fg) !important;
}
