:root {
  /* --- Colour variables --- */
  --gg-bg: #2a2932;
  --gg-fg: #fbfbfe;
  --gg-fg-alt: #d4d4d4;
  --gg-fg-faded: #8f8f9d;
  --gg-grey-alt: #5b5b67;
  --gg-grey: #53535f;
  --gg-darkgrey: #43424d;
  --gg-black: #1c1b22;
  --gg-black-bold: #0c0c0d;
  --gg-pseudotransparent: rgba(0, 0, 0, 0);
  --gg-cyan: #80ecff;
  --gg-lightblue: #00ddff;
  --gg-skyblue: #a8f2ff;
  --gg-turquoise: #52ffbd;
  --gg-purple-dark: #3c1f7a;
  --gg-purple-mid: #ac70ff;
  --gg-purple: #9059ff;
  --gg-pink: #ff4aa2;
  --gg-yellow: #ffbd4f;
  /* Attributes */
  --button-bgcolor: var(--gg-bg) !important;
  --button-hover-bgcolor: var(--gg-grey) !important;
  --button-active-bgcolor: var(--gg-grey-alt) !important;
  --button-primary-bgcolor: var(--gg-lightblue) !important;
  --button-primary-hover-bgcolor: var(--gg-cyan) !important;
  --button-primary-active-bgcolor: var(--gg-skyblue) !important;
  --button-primary-color: var(--gg-bg) !important;
  --input-bgcolor: var(--gg-darkgrey) !important;
  --input-color: var(--gg-fg) !important;
  --input-border-color: var(--gg-fg-faded) !important;
  --autocomplete-popup-separator-color: var(--gg-grey) !important;
  --panel-banner-item-update-supported-bgcolor: var(--gg-turquoise) !important;
  --panel-banner-item-info-icon-bgcolor: var(--gg-cyan) !important;
  --tab-icon-overlay-stroke: var(--gg-darkgrey) !important;
  --tab-icon-overlay-fill: var(--gg-fg) !important;
  --panel-item-hover-bgcolor: color-mix(
    in srgb,
    currentColor 9%,
    transparent
  ) !important;
  --arrowpanel-dimmed-further: color-mix(
    in srgb,
    currentColor 14%,
    transparent
  ) !important;
  --panel-item-active-bgcolor: color-mix(
    in srgb,
    currentColor 25%,
    transparent
  ) !important;
  --urlbar-icon-fill-opacity: 1 !important;
  --panel-separator-zap-gradient: linear-gradient(
    90deg,
    var(--gg-purple) 0%,
    var(--gg-pink) 52.08%,
    var(--gg-yellow) 100%
  ) !important;
  --lwt-accent-color: var(--gg-black) !important;
  --lwt-text-color: var(--gg-fg) !important;
  --arrowpanel-background: var(--gg-darkgrey) !important;
  --arrowpanel-color: var(--gg-fg) !important;
  --arrowpanel-border-color: var(--gg-grey) !important;
  --toolbar-field-background-color: var(--gg-black) !important;
  --toolbar-field-color: var(--gg-fg) !important;
  --toolbar-field-border-color: var(--gg-pseudotransparent) !important;
  --toolbar-field-focus-background-color: var(--gg-darkgrey) !important;
  --toolbar-field-focus-color: var(--gg-fg) !important;
  --lwt-tab-text: var(--gg-fg) !important;
  --toolbar-bgcolor: var(--gg-bg) !important;
  --toolbar-color: var(--gg-fg) !important;
  --chrome-content-separator-color: var(--gg-black-bold) !important;
  --toolbarbutton-icon-fill: var(--gg-fg) !important;
  --lwt-selected-tab-background-color: var(--gg-darkgrey) !important;
  --autocomplete-popup-highlight-background: var(--gg-bg) !important;
  --tabpanel-background-color: var(--gg-bg) !important;
  --sidebar-background-color: var(--gg-bg) !important;
  --sidebar-text-color: var(--gg-fg) !important;
}

