#root.root {
  --s-frame-bg: #1c1b22 !important;
  --s-toolbar-bg: #2b2a33 !important;
  /* --s-frame-fg: #fbfbfe !important;
	--s-toolbar-fg: #fbfbfe !important; */
}

/* --- NAV BAR --- */

#nav_bar {
  margin-bottom: -2px;
  display: flex;
  align-items: center;
  padding: 0 6px;
  height: 48px;
}

/* --- PINNED TABS --- */

.PinnedTabsBar {
  padding: 2px var(--tabs-margin) var(--tabs-margin) var(--tabs-margin) !important;
  background: transparent;
}

/* --- TABS --- */

#root.root {
  --tabs-margin: 6px;
  --tabs-height: 35px;
  --tabs-width: 35px;
  --tabs-pinned-height: var(--tabs-height);
  --tabs-pinned-width: var(--tabs-width);
  --tabs-indent: 16px;
}

.Tab .close:hover {
  background: transparent !important;
}

.Tab .close > svg:hover {
  /* Styling the tab close button */
  border-radius: 50px;
  background: #d10032;
  opacity: 100%;
}

/* --- IMPROVEMENTS --- */

.TabsPanel {
  margin: 5px 0;
}

.central-box {
  z-index: 1;
  background: var(--s-frame-bg);
  border-top-right-radius: 6px;
}

.main-box:after {
  position: absolute;
  z-index: 0;
  top: -5px;
  right: -5px;
  content: "";
  background: var(--s-toolbar-bg);
  height: 10px;
  width: 10px;
}

.popup {
  margin-top: 50px;
  max-width: 97%;
}

