/* --- TAB AND TITLE BAR --- */

/* Hide native tabs and title bar */
#TabsToolbar {
  visibility: collapse !important;
  height: 0 !important;
}

/* mini patch to hide native tabs correctly */
.tabbrowser-tab {
  visibility: collapse;
  height: 0px;
}

.tabbrowser-tab[visuallyselected="true"] {
  visibility: collapse;
  height: 0px;
}

.tab[selected="true"] {
  visibility: collapse;
  height: 0px;
}

/* --- SIDEBAR --- */

#sidebar-header {
  /* uncomment to hide the sidebar header */
  /* display: none !important; */
  border-bottom: none !important;
  border: none !important;
}

#sidebar-box {
  margin-top: -1px;
  position: relative;
  --sidebar-width: 267px;
  --sidebar-background-color: #2b2a33 !important;
  --sidebar-text-color: #fbfbfe !important;
  min-width: var(--sidebar-width) !important;
  width: var(--sidebar-width) !important;
  max-width: var(--sidebar-width) !important;
  z-index: 1;
}

#sidebar-box[positionend] {
  direction: rtl;
}
#sidebar-box[positionend] > * {
  direction: ltr;
}

#sidebar-box[positionend]:-moz-locale-dir(rtl) {
  direction: ltr;
}

#sidebar-box[positionend]:-moz-locale-dir(rtl) > * {
  direction: rtl;
}

.content-header {
  background: #2b2a33 !important;
}

.content-scrollable {
  background: #1c1b22 !important;
}

#sidebar-icon {
  filter: contrast(150%);
  opacity: 1;
}

.sidebar-placesTree {
  border-top-right-radius: 6px;
  background: #1c1b22 !important;
  color: #d4d4d4;
}

/* for sidebars placed to the left (default) */
.sidebar-placesTree:before {
  content: "";
  z-index: -1;
  background: #2b2a33 !important;
  position: absolute;
  height: 10px;
  width: 10px;
  top: 45px;
  right: 0;
}

.sidebar-placesTree {
  border-top-left-radius: 6px;
  background: #1c1b22 !important;
  color: #d4d4d4;
}

/* for sidebars placed to the right */
/* .sidebar-placesTree:before {
  content: "";
  z-index: -1;
  background: #2b2a33 !important;
  position: absolute;
  height: 10px;
  width: 10px;
  top: 45px;
  left: 0;
} */

#sidebar-title {
  font-size: 1.1rem;
}

#sidebar-close {
  opacity: 0;
  transform: scale(0.9);
}

#sidebar-close:hover {
  opacity: 1;
}

#historyTree .sidebar-placesTreechildren {
  margin-left: -8px;
}

#sidebar-splitter {
  display: none;
}

/* Add outline border */
#sidebar,
#sidebar-header {
  background-color: inherit !important;
  border-inline: 1px solid #2b2a33;
  border-inline-width: 0px 1px;
}

#sidebar-box:not([positionend]) > :-moz-locale-dir(rtl),
#sidebar-box[positionend] > * {
  border-inline-width: 1px 0px;
}

/* --- SEARCH BAR --- */

#sidebar-search-container {
  background-color: #2b2a33 !important;
}
