@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/*
			TAB AND TITLE BAR
*/
/* hide native tabs and make room for window buttons */
#nav-bar {
  margin-top: -37px !important;
  padding-right: 100px !important;
  margin-bottom: -4px !important;
}

/* mini patch to hide native tabs correctly */
.tabbrowser-tab {
  visibility: collapse;
  height: 0px;
}

.tabbrowser-tab[visuallyselected="true"] {
  visibility: collapse;
  height: 0px;
}

.tab[selected="true"] {
  visibility: collapse;
  height: 0px;
}

/*
			SIDEBAR
*/
/* hide the sidebar header */
#sidebar-header {
  display: none !important;
}

/* set sidebar size and position */
#sidebar-box {
  --sidebar-width: 40px;
  --sidebar-hover-width: 262px;
  --autohide-sidebar-delay: 600ms;
  position: relative;
  min-width: var(--sidebar-width) !important;
  width: var(--sidebar-width) !important;
  max-width: var(--sidebar-width) !important;
  z-index: 1;
}

#sidebar-box[positionend] {
  direction: rtl;
}
#sidebar-box[positionend] > * {
  direction: ltr;
}

#sidebar-box[positionend]:-moz-locale-dir(rtl) {
  direction: ltr;
}
#sidebar-box[positionend]:-moz-locale-dir(rtl) > * {
  direction: rtl;
}

#main-window[sizemode="fullscreen"] #sidebar-box {
  --sidebar-width: 1px;
}

#sidebar-splitter {
  display: none;
}

#sidebar {
  transition: min-width 115ms linear var(--autohide-sidebar-delay) !important;
  min-width: var(--sidebar-width) !important;
  will-change: min-width;
}

/* comment this block out to disable auto resize */
#sidebar-box:hover > #sidebar {
  min-width: var(--sidebar-hover-width) !important;
  transition-delay: 0ms !important;
}

.sidebar-panel {
  background-color: transparent !important;
  color: var(--newtab-text-primary-color) !important;
}

.sidebar-panel #search-box {
  appearance: none !important;
  -moz-appearance: none !important;
  background-color: rgba(249, 249, 250, 0.1) !important;
  color: inherit !important;
}

/* add sidebar divider and give it background */

#sidebar,
#sidebar-header {
  background-color: inherit !important;
  border-inline: 1px solid #2b2a33;
  border-inline-width: 0px 1px;
}

#sidebar-box:not([positionend]) > :-moz-locale-dir(rtl),
#sidebar-box[positionend] > * {
  border-inline-width: 1px 0px;
}

/* move statuspanel to the other side when sidebar is hovered so it doesn't get covered by sidebar */
#sidebar-box:not([positionend]):hover ~ #appcontent #statuspanel {
  inset-inline: auto 0px !important;
}
#sidebar-box:not([positionend]):hover ~ #appcontent #statuspanel-label {
  margin-inline: 0px !important;
  border-left-style: solid !important;
}
